<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Prenom/Nom : <%=@user.first_name%> <%=@user.last_name%></h5>
    <p class="card-text"> AGE : <%=@user.age%></p>
  </div>
</div>